# Frontend Specific Ignores
node_modules/
dist/
dist-ssr/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
!.env.production
logs/
*.log
.DS_Store

# Firebase Hosting
.firebase/

.vercel
